<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TASKORG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
      
        </ul>
        <div class="d-flex">
       
          <button class="btn btn-outline-success" type="submit" 
          [routerLink]="['/login']">SIGN IN</button>
        </div>
      </div>
    </div>
  </nav>

<div class="wrapper">
  <section class="sectionone">
    <button class="btn buttonone" type="button" style="background-color: pink ;">Get Started</button>
    <br>
    <!-- <p>TASKORG. </p> -->

  </section>
</div>
  <section class="sectiontwo">
    <div class="features" style="height: 200px ;">
      <h4 style="text-align:center ;">Features</h4>

    </div>
    <footer class="footer" style="height: 50px; text-align: center;" >
      @2022.TASKORG.All Rights Reserved.

    </footer>

  </section>
