.sidenavlist{
    list-style: none;
    margin-top: 50px;
}
.icon{
    
    margin-right: 20px;
}
.sidenavitems{
    height: calc(100vh-60px);
    cursor: pointer;
   
}
.sidenavitem{
    height: 50px;
    cursor: pointer;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  
}
.sidenavitem:hover{
 background-color: rgb(245, 244, 243);
    border-radius: 20px;
  
}
a{
    text-decoration: none;
    color: black;
}
.lists{
    position: absolute;
    bottom: 30px;
}