<div class="container-fluid" style="background-image: linear-gradient(to top, pink, white); height:100vh;">
    <div class="wrapper" style="display: flex; justify-content: center; align-items: center; ">
        
        <form class="signupform" style="width: 30% ;  margin: 50px; padding: 30px; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
            <h4 class="header" style="text-align: center;">SIGN UP</h4>
            <div class="form-floating mb-3">
                <i class=" icon fa fa-user fa-lg" aria-hidden="true"></i>

                <input type="email" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
               
              </div>
              <div class="form-floating mb-3">
                <i class="icon fa fa-envelope fa-lg" aria-hidden="true"></i>

                <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                <label for="floatingEmail">Email</label>
              </div>
              <div class="form-floating mb-3">
                <i class="icon fa fa-key fa-lg" aria-hidden="true"></i>

                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <i class="icon fa fa-key fa-lg" aria-hidden="true"></i>
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
                <label for="floatingConfirmPassword">Confirm Password</label>
              </div>
        
            <button type="submit" class="btn " style="background-color: violet; width: 200px; margin-left: 70px; padding: 10px;" >SIGN UP</button>
          </form>


    
    </div>
</div>
